.mdl-textfield__description,
.mdl-textfield__error{
    font-size: 11px;
    visibility: visible;
}

.mdl-textfield--with-helper .mdl-textfield__label:after{
    bottom: 39px;
}

/*page login*/
#login_page .mdl-card__title {
    background-color: #3f51b5;
    color: white;
}

#login_page .mdl-card {
    margin: auto;
}

#login_page{
    margin: 100px 0px 0px 0px;
}

#files_sender{
    opacity: 0;
}
/*page installation*/
#installation_page{
    margin: 100px 0px 0px 0px;
}
#installation_page .mdl-card {
    margin: auto;
    width: 750px;
}
#installation_page .mdl-card__title {
    background-color: #3f51b5;
    color: white;
    display: block;
}
#installation_page .mdl-card__title-text {
    display: block;
}
